apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: {{ role }}
rules:
{% for api_group in api_groups %}
  - apiGroups: 
{% for api in api_group.name %}
    - "{{ api }}"
{% endfor %}
    resources:
{% for resource in api_group.resources %}
      - "{{ resource }}"
{% endfor %}
    verbs:
{% for verb in api_group.verbs %}
      - "{{ verb }}"
{% endfor %}
{% endfor %}