apiVersion: v1
kind: Config
preferences: {}
users:
- name: [user here]
  user:
    token: [client token here]
clusters:
- cluster:
    certificate-authority-data: [client certificate here]
    server: {{ endpoint.stdout }}
  name: {{ cluster_name.stdout }}
contexts:
- context:
    cluster: {{ cluster_name.stdout }}
    user: [user here]
    namespace: default
  name: [context name]
current-context: [set context]
