{% for role in user_to_role %}
{% if role.action == "create" %}
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  name: {{ role.role }}
  namespace: {{ role.namespace }}
rules:
  - apiGroups: 
    - "*"
    resources:
      - "*"
    verbs:
      - "*"
{% endif %}
{% endfor %}
