{% for role in user_to_cluster_role %}
{% if role.action == "create" %}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ role.cluster_role }}-binding-{{role.user}}
subjects:
- kind: ServiceAccount 
  name: {{ role.user }}
  namespace: {{ role.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ role.cluster_role }}
{% endif %}
{% endfor %}
